/*General Styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
}


    /***ROOT Variables***/

:root{
    --bg-darkmode: #081b29;
    --text-color: #ededed;
    --deco-color: #0071bc;
}

    /***Light Theme Variables***/

.light-theme{
    --bg-darkmode: #ededed;
    --text-color: #081b29;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-darkmode);
    color: var(--text-color);
}


/*Header Styles*/

.header{
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-weight: 700;
    font-size: 3.5rem;
}

#logo_left{
    color: var(--text-color);
}

#logo_right{
    color: var(--deco-color);
}

.main-nav a{
    color: var(--deco-color);
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 5.5rem;
    transition: all 400ms ease-in-out;
}

.main-nav a:hover, .main-nav a.active{
    color: var(--text-color);
}

.theme-toggler{
    background-color: #0071bc;
    display: flex;
    justify-content: space-between;
    width: 67.2px;
    height: 25.6px;
    cursor: pointer;
    border: 1px solid #081b29;
    border-radius: 5px;
}

.theme-toggler span{
    font-size: 14px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #081b29;
}

.theme-toggler span.active{
    background: #ededed;
    color: #0071bc;
    border-radius: 5px;
}

#menu_icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}


/*Home Section Styles*/

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home-content{
    max-width: 60rem;
}

.home-content h1{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
}